.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Cormorant Garamond", serif;

  .logo_wrapper img {
    height: 3rem;
  }
  .dark_mode {
    filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(8deg) brightness(103%)
      contrast(103%);
  }

  &_actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header_select {
      margin-right: 1.5rem;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      text-align-last: center;
      border: none;
      outline: none;
      font-family: "Cormorant Garamond", serif;
      font-size: 1.2rem;
      font-weight: 400;
      transition: all 0.3s linear;
    }
    .header_select_dark {
      background-color: rgb(38, 38, 68);
      color: #fff;
    }
  }
}

.header_theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
  border-left: 1px solid rgb(164, 164, 164);

  &_img {
    height: 2rem;
    margin-right: 0.5rem;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292f37;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #ccc;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #ccc284;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Cormorant Garamond", serif;

    .header_select {
      padding: 0.5rem;
    }
  }
}
